asgiref==3.3.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==36.0.2
defusedxml==0.7.1
Django==3.2.12
django-active-link==0.1.8
django-allauth==0.50.0
django-crispy-forms==1.13.0
idna==3.3
oauthlib==3.2.0
PyJWT==2.3.0
PyMySQL==1.0.2
python-decouple==3.6
sqlparse==0.4.2


