
<!DOCTYPE html>

<html lang="en">

<head>

  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> -->

  <title>
    {% block title %}{% endblock title %}
  </title>
  {% include "main/partials/head.html" %} 
  {% block stylesheets %}{% endblock stylesheets %}
</head>

<body>
  <!-- Navbar -->
  {% include "main/partials/nav.html" %} 
  <!-- End Navbar -->

  <!-- Content -->
  {% block content %}{% endblock content %}
  
  {% include "main/partials/footer.html" %}
  <!--   Core JS Files   -->
  {% include "main/partials/scripts.html" %}
  {% block scripts %}{% endblock scripts %}
</body>

</html>
